/* src/Wordle.css */
.wordle {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .attempts {
    margin: 20px 0;
  }
  
  .attempt {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .letter {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 0 2px;
    font-size: 20px;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .present {
    background-color: yellow;
    color: black;
  }
  
  .absent {
    background-color: rgb(169, 169, 169);
  }
  button{
    background-color: rgb(21, 122, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
  }
  input{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }